.root {
  background: var(--mantine-color-teal-9);
  color: #fff;
}

.steadyWrap {
  width: 100%;
}

@media (max-width: 480px) {
  .steadyWrap {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}
